
.app-content{
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;

}

.ul-content-item{
    width: 45%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: left;
}
.item-right{
    justify-content: right;
}

.text-content{
    width: 70%;
}

.content-li{
    display: flex;
    align-items: flex-start;
        row-gap: 20px;

}
.resver-li{
flex-direction: row-reverse;
}


.chart-content{
    margin-top: 300px;
    width: 50%;
    background-color: aliceblue;
    border: 1px solid #ccc;
}