
.tranfe{
    &-icon{
        display: flex;
        align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 8px;
    background-color: antiquewhite;
}
.box{
    align-items: center;
}
&-box{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .Address{
        margin-bottom: 10px;
    }
    .showAddress{
           display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 32px;
        border-radius: 6px;
        margin-bottom: 10px;
        background-color: antiquewhite;
        .text{
            flex: 1;
            padding-left: 10px;
        }
        .copy-icon{
            display: flex;
            align-items: center;
            width: 24px;
            cursor: pointer;
            svg{
                width: 24px;
                float: right;
            }
        }
    }
    .btn{
        width: 100%;
    }
}
}

@media screen and (max-width: 800px){
 .calc-box{
        .showAddress{
            height: 66px;
            border-radius: 6px;
            .text{
                width: calc(100% - 50px);
                padding: 6px 10px;
            }
            .copy-icon{
                width: 24px;
                svg{
                    width: 24px;
                }
            }
         }
    }
}
